{% load staticfiles %}
{% load products_tags %}
{% load staticfiles %}
{% load search_tags %}
{% load products_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
        {% include 'tags/metatags.html' %}
        <title>{% block title %} {% endblock %}-{{ site_name }}</title>
        <link rel="SHORTCUT ICON" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
        <main id="main">
                {% include "tags/navigation.html" %}
                {% block hero %}{% endblock %}
                {% block content %}{% endblock %}
        </main>


        <footer id="footer">
                {% footer_links %}
        </footer>
        </div>

        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
                </script>
        <!-- <script>
                var csrftoken = Cookies.get('csrftoken');
                function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                        }
                });
                $(document).ready(function () {
                        {% block domready %}
                        {% endblock %}
                });
        </script> -->
</body>

</html>
