{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tags/metatags.html' %}
    <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %} 
            {{ site_name }}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="SHORTCUT ICON" href="{{ MEDIA_URL }}images/favicon.ico" />
</head>
<body>
       
        {% block site_wrapper %}{% endblock %}

        <script src="{% static 'js/main.js' %}"></script> 
</body>
</html>





 

