
{% extends "base.html" %}
{% load search_tags %}
{% load products_tags %}
{% block site_wrapper %}

<header id="main-header">
<a class="header__logo" href="/">Cindy<span style="color: yellowgreen;">Achieng</span></a>
<form>
<input type="search" name="query" aria-label="Search"></form>
        
{% include 'tags/navigation.html' %}
            <div class="cart">
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                    </a>
                    {% else %}
                    Your cart is empty.
                    {% endif %}
                    {% endwith %}
                    </div>
</header>
    <main id="main">
        <div class="row">
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            <aside>{% category_list request.path %}
                    {% search_box request %}
                
            </aside>
        </div>
    </main>
    <footer>
            {% footer_links %}
    </footer>
</div>
{% endblock %}

