{% extends "base.html" %}
{% block site_wrapper %}
<div id="main">
    <header>{% include 'tags/navigation.html' %}
            <div class="cart">
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                    </a>
                    {% else %}
                    Your cart is empty.
                    {% endif %}
                    {% endwith %}
                    </div>

                    <table summary="Your Shopping Cart" id="shopping_cart">
                            <caption>Your Shopping Cart</caption>
                            <thead>
                            <!-- header info here -->
                            <th scope="col">Product</th>
                            <!-- ...etc... -->
                            </thead>
                            <tfoot>
                            <!-- footer info here -->
                            </tfoot>
                            <tbody>
                            <! - - loop through cart items here -->
                            </tbody>
                            </table>
    </header>
    <main>
        <div class="row">
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            <aside>{% include "tags/category_list.html" %}</aside>
        </div>
    </main>
    <footer></footer>
</div>
{% endblock %}