
{% extends "base.html" %}
{% load products_tags %}
{% block site_wrapper %}
<div id="main">
    <header>{% include 'tags/navigation.html' %}
            <div class="cart">
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                    </a>
                    {% else %}
                    Your cart is empty.
                    {% endif %}
                    {% endwith %}
                    </div>
</header>
    <main>
        <div class="row">
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            <aside>{% category_list request.path %}</aside>
        </div>
    </main>
    <footer>
            {% footer_links %}
    </footer>
</div>
{% endblock %}

