body, html, main{
    height: 100%;
    width: 100%;
} 

body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #f2f3f5;
    color: rgba(26,26,26,.75);
    font-size: 16px;
	line-height: 1.8em;
    word-wrap: break-word;
    font-weight: 400;
	font-style: normal;
}
header,main,footer{
    width: 100% 
}

a {
    color: #DA4453;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
p {
    margin-bottom: 35px;
    color: #717171;
    font-family: "Karla", sans-serif;
    font-size: 15px;
    line-height: 23px;
}
img,embed,video {
    max-width: 100%;
    height: auto;
}
h2{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.basket{
    width: 2em;
}
/* ul{
    list-style:none;
} */

.masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;
}

.masonry .brick {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}
/*
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}
.row{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}

.topspace{
    margin-top: 6em;
} */
button{
        color: #fff;
        background-color: #db3e00;
        border-color: #db3e00;
        padding: 0.2em 2em;
        font-size: 1.16667rem;
        min-height: 2.5em;
        line-height: 2.35714rem;
        font-weight: 600;
        letter-spacing: .1em;
        text-transform: uppercase;
        border-radius: 3px;
        border: 0;
}


/* ====================== header ====================== */
#main-header {
    width: 100%;
    height: 100px;
    min-height: 80px;
    background: #fff;
    transition: height 0.3s ease-out;
    position: fixed;
    z-index: 5;
    box-shadow: -1px 0 26px 0 rgba(0, 0, 0, .75);
    top: 0;
}
.header__menu img {
   /* background: linear-gradient(to bottom,#1f1f1f,#1f1f1f 2px,#fff 2px,#fff 5px,#1f1f1f 5px,#1f1f1f 7px,#fff 7px,#fff 10px,#1f1f1f 10px,#1f1f1f 12px,#fff 12px);
    */
    left: 0;
    position: absolute;
    top: 2em;
}


nav a{
    color:gray;
    font-weight:bold;
    text-decoration:underline;
}
nav a:hover{
    color:#616161;
    background-color:White;
    text-decoration:none;
}
.btn-menu-mobile {
    display: none;
}
.menu{
    margin-top: 4%;
}

.header-icons ul{
    position: absolute;
    right: 0em;
    top: 1em;
}
.header-icons ul, .checkout_items {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.checkout_items{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #111;
    background-color:#fe4c50;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0; 
}
.checkout_items a{
    color: #fff; 

}
.menu-item, .header-icons ul li{
    padding-right: 0.5em;
}
.header__logo {
    letter-spacing: -1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 7em;
}
/* ====================== header-icons dropdown ====================== */
ul.dropdown {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 2.5em;
    display: none;
    background: #F5F5F5;
    position: absolute;
    z-index: 5;
}
.header-icons ul li:hover>ul, .header-icons ul li:focus-within>ul, .header-icons ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.header-icons ul li ul li {
    clear: both;
    width: 100%;
}
.header-icons ul:last-of-type li {
    padding-right: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

/* ====================== hero ====================== */

.hero {
	width: 100%;
	position: relative;
	background: url("/static/images/no_image.png") no-repeat center center;
    height: 400px;
    /* Resize the background image to cover the entire container */
	background-size: cover;
	
	padding-top: 8em;
}

/* ====================== Product listing &description ====================== */
.product-details, .product_image,.product_description, aside{
    width: 100%;
}
.breadcrumb{
    display: inline; 
}
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
.product_title {
    margin-top: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700 
}
p.price, span.price {
    font-weight: 700;
    font-size: 25px;
    color: #2a313e;
    color: #77a464;
    font-size: 1.25em;
}
table .cart tr td{
    display: block;
    text-align: right!important;
}
.product_items{
    position: relative;
    margin-top: 6em;
    font-size: 1em;
} 
/* .products-new h3{
    position: absolute;
} */

.aside, .products-new{
width: 100%;
}
.recently_viewed{
    background-color: red;
}
.view_recs{
    background-color:green;
}
.view_recs{
    background-color:yellow;
}
.featured{
    background-color:brown;
}
.new_Products{
    background-color:violet;
}
.search_recs{
    background-color:blue;
}
.bestseller{
    background-color:rgb(225, 0, 255);
}


/* ====================== checkout ====================== */

fieldset{
    padding-bottom:15px;
    margin-bottom:15px;
}
 legend{
    font-weight:bold;
    color:Black;
    margin-left:15px;
}

fieldset input {
    font-family:Courier;
    font-size:Large;
}

 table, thead, tbody, th, td, tr {
    display: block;
}

/* ====================== max-width: 576px ====================== */
@media only screen and (max-width: 576px) {
    .header__logo {
        left: 6em;
   }
   /* .box{
       width: 100%;
    } */
}
/* ====================== max-width: 768px ====================== */
@media only screen and (max-width: 768px) {
    .btn-menu-mobile, .header__menu {
        display: block !important;
   }
    /* .btn-menu-mobile {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        border: none;
        border-right: 1px solid #e5e5e5;
        padding: 15px 20px 15px 44px;
        background-color: transparent;
        font-size: 10px;
        line-height: 24px;
        text-transform: uppercase;
        cursor: pointer;
        outline: 0;
   } */
    .menu-item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        padding: 1em;
        width: 100%;
   }
    .nav-wrapper{
        z-index: 10;
       background: #f9f9ff;
        background-color: #fff;
        max-width:100%;
        position: absolute;
       /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
       /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
        display: block;
        top: 5em;
   }
    .nav-wrapper.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
   }
   /* .box{
     width: 50%;
    } */


}
/* ====================== min-width: 768px ====================== */
@media only screen and (min-width: 768px) {
    .header__logo {
        left: 1em;
   }
    .header-icons ul{
        right: 3em;
   }
   .column{
    width: 50%;

}
   .product_image{
    width: 50%;
}
.product_description{
    width: 50%;
}
.aside{
    max-width: 30%;
    float: left;
}
.products-new{
    max-width: 70%;
    float: right;

}

.menu-list {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
/* .box{
    width: 25%;
   } */

}

/* ====================== min-width: 768px ====================== */
@media only screen and (min-width: 768px) {
    /* .box{
        width: 20%;
       } */
       .masonry{
        column-count: 2;
    }

}

/* ====================== min-width: 768px ====================== */

@media only screen and (min-width: 1024px)
.masonry {
    column-count: 3;
}
}
