img{
	
	max-width:100%;
	height:auto;
}

.masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;
}

.masonry .brick {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}

/* ====================== min-width: 768px ====================== */
@media only screen and (min-width: 768px) {
    .masonry{
    column-count: 3;
}
}

@media only screen and (min-width: 1024px)
.masonry {
    column-count: 3;