
        <!-- <a href="{{ product.get_absolute_url }}">
              <div class="product-list-image">
            <a href="">img</a>
            <a href="">add to cart</a>
        </div>
        {% if forloop.first %}
        {% endif %}
        {% include "tags/list_thumbnail.html" %}
        <p class="tag"><span class="sale">{{ header_text }}</span></p>
        {% if forloop.last %}	
            {% endif %}
        <h3 class='product_list'>{{ product.name }}</h3>
        
        <p class="price"></p>
        <p class="price"><span>{{ product.price }}</span> <span class="">
                <del class="previous-price"></del></span> </p>
        </a>
        <div class="cart">
            <p>
            <span class="addtocart"><a href="cart.html"><i class="icon-shopping-cart"></i></a></span>
            <span><a href="product-detail.html"><i class="icon-eye"></i></a></span>
            <span><a href="#"><i class="icon-heart3"></i></a></span>
            <span><a href="add-to-wishlist.html"><i class="icon-bar-chart"></i></a></span>
            </p>
            </div>
</li>
{% endfor %} -->
