
{% load products_filters %}
{% for product in products %}
{% if forloop.first %}
<h3 class='product_list'>{{ header_text }}</h3>
{% endif %}

<li class="brick">
    
        <a href="{{ product.get_absolute_url }}">
       
            <img src="{{ product.image.url }}" class="card-image" alt="{{ product.name }}">
        </a>
        {% if forloop.last %}	
            {% endif %}
        <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
        <del class="previous-price"></del>
        <p class="price">{{ product.price }}</p>
</li>
{% endfor %}




