{% extends "base.html" %}
{% load products_tags %}
{% load search_tags %}
{% load products_filters %}

{% block title %}Category{% endblock %}
{% block content %}

<div class="container topspace inner-items">
        <div class="row">
                <aside>
                        {% search_box request %}
                        </br>
                        <!-- {% include 'tags/category_list.html' %} -->
                        {% category_list request.path %}

                </aside>
                <div class="products-list">
                        <h3 class="mb">{{ category.name }}</h3>
                        {{ category.description }}

                        {% for p in products %}
                        <!-- include images -->
                        <a href="{{ p.get_absolute_url }}">
                                {% include "tags/cart_thumbnail.html" %}
                                {{ p.name }}
                        </a>
                       
                  

                        {% endfor %}
                </div>
        </div>
        {% endblock %}


<!-- 
        make sure the href is inline-styled
        {% for p in products %}
<div class="product_thumbnail">
<a href="{{ p.get_absolute_url }}">
<img src="{{ MEDIA_URL }}images/products/thumbnails/{{ p.image
}}" 
alt="{{ p.name }}" class="bn" />
<br />
{{ p.name }}
</a>
</div>
{% endfor %} -->