{% extends "products.html" %}
{% load products_tags %}
{% load search_tags %}
{% load products_filters %}
{% block content %}

<h1>Welcome to Decor pot shop!</h1>
<div class="topspace masonry">
                    {% product_list recently_viewed 'Your Recently Viewed' %}
                    {% product_list view_recs 'Similar Products' %}
                    {% product_list featured 'Featured Products' %}
                    {% product_list products 'new' %}
                    {% product_list bestseller 'bestseller' %}
           
      
</div>
{% endblock %} 
    

              
     
