{% extends "base.html" %}
{% load staticfiles %}
{% load products_filters %}
{% load products_tags %}
{% load checkout_tags %}
{% block title %}Payment Options{% endblock %}
{% block content %}
<div class="container topspace">
        <div class="row receipt">

                <div class="order-details">

                        {% if user.is_authenticated %}
                        <table class="order-details">

                                <thead>
                                        <tr>
                                                <h4>
                                                        <legend> Details for Order {{ order.id }}</legend>
                                                </h4></br>
                                                Asante {{ order.owner.username|capfirst }}!</br>
                                                {{ owner.order_set.all }}
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th class="right" scope="col">Total</th>
                                        </tr>
                                        {% for item in cart %}
                                        <tr>


                                                <td>{{ item.product.name }}</td>
                                                <td>{{ item.price|currency }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td class="right">{{ item.total_price|currency }}</td>



                                        </tr>
                                        {% endfor %}

                                        {% if cart.coupon %}
                                        <tr>

                                                <th colspan="3">"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}%
                                                        off)</th>
                                                <td class="right"> - {{ cart.get_discount|floatformat:"2"|currency }}
                                                </td>
                                        </tr>
                                        <tr>
                                                <th colspan="3">total</th>
                                                <td data-title="Total">
                                                        <strong>{{ cart.get_total_price_after_discount|floatformat:"2"|currency }}</strong>
                                                </td>
                                        </tr>


                                        {% endif %}


                                </tbody>


                        </table>

                        <table>
                                <th>Created</th>
                                <td>{{ order.created }}</td>
                                </tr>
                                <tr>
                                        <th>Customer</th>
                                        <td>{{ owner.order.first_name }} {{owner.last_name }}</td>
                                </tr>
                                <tr>
                                        <th>E-mail</th>
                                        <td><a href="mailto:{{ order.email }}">{{ order.owner.email }}</a></td>
                                </tr>
                                <tr>
                                        <th>Address</th>
                                        <td>{{ order.owner.profile.physical_address }},
                                                {{ order.owner.profile.postal_code }}, {{ order.owner.profile.city }},
                                                {{ order.owner.profile.Estate }}</td>
                                </tr>

                                <tr>
                                        <th>Status</th>
                                        <td>{% if order.paid %}Paid{% else %}Pending payment{% endif %}</td>
                                </tr>
                        </table>



                        {% endif %}

                        <div class="payment">
                                <h3>Pay using Mpesa</h3>
                                <img src="{% static 'images/mpesa.jpg' %}">
                                <ol>
                                        <li>Go to M-PESA on your phone.</li>
                                        <li>Select Lipa na MPESA.</li>
                                        <li>Enter Paybill Number:******</li>
                                        <li>Enter Account Number: <b>{{ order.id }}</b> </li>
                                        <li>Enter the Amount.</li>
                                        <li>Enter your M-PESA PIN and Send.</li>
                                        <li>You will receive a confirmation via SMS.</li>
                                </ol>
                                <button class="button"><a href="/">Pay Now</a></button>
                        </div>



                </div>
        </div>


        {% endblock %}