{% extends "products.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="container">
    <div class="row topspace">
        <h2>Please login</h2>
        {% if form.errors %}
        Your username and password didn't match. Please try again.
        {% endif %}
        <form action="{% url 'login' %}" method="post" class="form-signin">
                <input type="text" class="form-control" name="username" placeholder="email/username" >
                <input type="password" class="form-control" name="password" placeholder="Password"> 
                <input type="hidden" name="next" value="{{ next }}" />     
                <button class="btn btn-block" type="submit" value="login">Login</button> 
                    
        </form>

    </div>
</div>


{% endblock %}